# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars1.csv) and [cars2](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [2]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars1.csv")
cars2 = pd.read_csv("https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars2.csv")

print(cars1.head())
print(cars2.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0       1  chevrolet chevelle malibu         NaN          NaN          NaN
1       1          buick skylark 320         NaN          NaN          NaN
2       1         plymouth satellite         NaN          NaN          NaN
3       1              amc rebel sst         NaN          NaN          NaN
4       1                ford torino         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  33.0          4            91         53    1795          17.4     76
1  20.0          6           225        100    3651          17.7     76
2  18.0          6           250         78    3574          21.0     76
3  18.5          6           250        110    3645          16.2     76
4  17.5          6           258         95    3193          17.8     76

   origin                 car
0       3         honda civic
1       1      dodge aspen se
2       1   ford granada ghia
3       1  pontiac ventura sj
4       1       amc pacer d/l

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [3]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [11]:
print(cars1.shape)

print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [9]:
cars = pd.concat([cars1, cars2])
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [10]:
nr_owners = np.random.randint(15000, high=73001, size=398, dtype='l')
nr_owners

array([32224, 71433, 39713, 33121, 33253, 31347, 26211, 17567, 57092,
       31241, 62746, 64860, 49510, 15839, 65067, 70757, 55803, 17601,
       71138, 65117, 46006, 60822, 25999, 44360, 51483, 36471, 41091,
       40173, 25176, 69518, 49900, 25552, 41902, 45932, 43745, 15308,
       36905, 29506, 46204, 55489, 45003, 53160, 70444, 24831, 30664,
       49217, 40804, 33147, 69671, 35560, 36790, 66418, 37092, 58328,
       16000, 34389, 21427, 31527, 66666, 57856, 69026, 27706, 48355,
       39480, 47576, 18866, 27688, 61615, 26361, 63099, 66582, 41417,
       55536, 56372, 49703, 40938, 18674, 40688, 29308, 26683, 68301,
       59482, 17108, 54921, 60957, 20321, 70622, 45131, 51689, 15517,
       67871, 68156, 51692, 63849, 70652, 18465, 71304, 39304, 37374,
       19854, 23925, 39803, 53907, 64219, 17342, 27110, 43147, 56395,
       63661, 56591, 52226, 35684, 59293, 60980, 60972, 23464, 43216,
       32188, 60853, 20777, 69278, 37530, 40381, 47929, 69019, 19289,
       28610, 17697, 62154, 49111, 68254, 35677, 16067, 28314, 46604,
       22199, 21943, 29300, 57667, 27180, 26392, 18621, 56549, 71430,
       68727, 69649, 43253, 64933, 72508, 65305, 45797, 16691, 20510,
       67810, 64367, 68326, 36249, 48933, 54186, 48343, 44478, 24139,
       34135, 35620, 67920, 48411, 33445, 34224, 64165, 25473, 26140,
       28105, 72784, 34080, 51960, 27246, 29806, 41008, 30382, 51845,
       47802, 61102, 60965, 48844, 57309, 19741, 53071, 34639, 46384,
       17298, 58408, 28283, 22038, 68313, 52127, 22552, 43950, 24622,
       22104, 17252, 55098, 20346, 20155, 17155, 30801, 66780, 47025,
       45111, 66041, 42544, 38554, 69347, 36099, 42638, 48111, 15583,
       55796, 18777, 70256, 45938, 68937, 46750, 30930, 52645, 32867,
       25235, 28649, 67908, 37761, 39417, 20265, 35769, 39072, 43102,
       24069, 31814, 32261, 47319, 63685, 44777, 50838, 15359, 61979,
       16972, 50217, 31559, 33642, 69883, 48282, 31275, 61518, 69178,
       36430, 22669, 54572, 54740, 17431, 55474, 43533, 39505, 22335,
       72722, 71912, 49900, 35643, 72740, 27492, 46617, 33170, 29663,
       26120, 27409, 39497, 17973, 66309, 32346, 55482, 60347, 22552,
       64939, 42174, 55579, 20932, 18743, 33105, 28921, 58396, 39953,
       67341, 18655, 48329, 56308, 33253, 40204, 35263, 28287, 34939,
       27726, 44519, 71521, 63416, 57636, 56798, 18399, 25337, 72157,
       42149, 51444, 66150, 41905, 26301, 40172, 22527, 34618, 64925,
       51733, 39982, 69801, 39468, 67871, 40686, 15187, 33401, 59730,
       43825, 32195, 49844, 15421, 38313, 25202, 55181, 64314, 71743,
       15973, 72841, 40878, 42452, 35059, 38189, 25840, 30247, 22571,
       36436, 39453, 29527, 41111, 46532, 63008, 38752, 32749, 64280,
       17592, 42248, 37615, 64019, 56873, 29475, 54986, 49180, 39103,
       63849, 16578, 60546, 46855, 27369, 16662, 28509, 25011, 47830,
       72609, 33492, 66128, 52915, 48204, 68774, 68203, 21161, 15837,
       25298, 67390, 27436, 16915, 36173, 48608, 33694, 62552, 40566,
       66342, 22795, 24782, 38416, 16153, 56572, 45573, 26993, 52157,
       41878, 54377])

### Step 8. Add the column owners to cars

In [12]:
cars['owners'] = nr_owners
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,45573
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,26993
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,52157
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,41878
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,54377