# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [3]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [6]:
data = {
    'evolution':["Ivysaur","Charmeleon","Wartortle","Metapod"],
    'hp':[45,39,44,45],
    'name':['Bulbasaur','Charmander','Squirtle','Caterpie'],
    'pokedex':['yes','no','yes','no'],
    'type':['grass','fire','water','bug']
}
df = pd.DataFrame(data)

### Step 3. Assign it to a variable called pokemon

In [7]:
df

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [9]:
# Order by name
df.sort_values('name')

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
3     Metapod  45    Caterpie      no    bug
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water

In [10]:
# Order by type
df.sort_values('type')

    evolution  hp        name pokedex   type
3     Metapod  45    Caterpie      no    bug
1  Charmeleon  39  Charmander      no   fire
0     Ivysaur  45   Bulbasaur     yes  grass
2   Wartortle  44    Squirtle     yes  water

In [11]:
# Order by nahpme
df.sort_values('hp')

    evolution  hp        name pokedex   type
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
0     Ivysaur  45   Bulbasaur     yes  grass
3     Metapod  45    Caterpie      no    bug

In [12]:
# Order by evolution
df.sort_values('evolution')

    evolution  hp        name pokedex   type
1  Charmeleon  39  Charmander      no   fire
0     Ivysaur  45   Bulbasaur     yes  grass
3     Metapod  45    Caterpie      no    bug
2   Wartortle  44    Squirtle     yes  water

In [13]:
# Order by pokedex
df.sort_values('pokedex')

    evolution  hp        name pokedex   type
1  Charmeleon  39  Charmander      no   fire
3     Metapod  45    Caterpie      no    bug
0     Ivysaur  45   Bulbasaur     yes  grass
2   Wartortle  44    Squirtle     yes  water

### Step 5. Add another column called place, and insert what you have in mind.

In [16]:
place = {
    "place":["Japan","UK","US","China"]
}
df_place = pd.DataFrame(place)

new_df = pd.concat([df,df_place], axis=1)

In [17]:
new_df

    evolution  hp        name pokedex   type  place
0     Ivysaur  45   Bulbasaur     yes  grass  Japan
1  Charmeleon  39  Charmander      no   fire     UK
2   Wartortle  44    Squirtle     yes  water     US
3     Metapod  45    Caterpie      no    bug  China

### Step 6. Present the type of each column

In [18]:
print(df.dtypes)

evolution    object
hp            int64
name         object
pokedex      object
type         object
dtype: object

### BONUS: Create your own question and answer it.