# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [2]:
s1 = pd.Series(np.random.randint(1, high=5, size=100, dtype='l'))
s2 = pd.Series(np.random.randint(1, high=4, size=100, dtype='l'))
s3 = pd.Series(np.random.randint(10000, high=30001, size=100, dtype='l'))

print(s1, s2, s3)

0     2
1     1
2     2
3     4
4     2
     ..
95    1
96    2
97    1
98    1
99    3
Length: 100, dtype: int32 0     1
1     3
2     3
3     2
4     1
     ..
95    2
96    1
97    1
98    2
99    1
Length: 100, dtype: int32 0     24003
1     10551
2     13437
3     17544
4     17128
      ...
95    29027
96    14200
97    28402
98    20103
99    12067
Length: 100, dtype: int32

### Step 3. Let's create a DataFrame by joinning the Series by column

In [3]:
housemkt = pd.concat([s1, s2, s3], axis=1)
housemkt.head()

   0  1      2
0  2  1  24003
1  1  3  10551
2  2  3  13437
3  4  2  17544
4  2  1  17128

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [5]:
housemkt.columns = [ 'bedrs', 'bathrs', 'price_sqr_meter']
housemkt.head()

   bedrs  bathrs  price_sqr_meter
0      2       1            24003
1      1       3            10551
2      2       3            13437
3      4       2            17544
4      2       1            17128

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [6]:
bigcolumn = pd.concat([s1, s2, s3], axis=0)

bigcolumn = bigcolumn.to_frame()
print(type(bigcolumn))

bigcolumn

<class 'pandas.core.frame.DataFrame'>

        0
0       2
1       1
2       2
3       4
4       2
..    ...
95  29027
96  14200
97  28402
98  20103
99  12067

[300 rows x 1 columns]

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [7]:
len(bigcolumn)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [8]:
bigcolumn.reset_index(drop=True, inplace=True)
bigcolumn

         0
0        2
1        1
2        2
3        4
4        2
..     ...
295  29027
296  14200
297  28402
298  20103
299  12067

[300 rows x 1 columns]